:root {
    --bgc0: rgb(132, 132, 132);
    --bgc1: rgb(37, 37, 37);
    --bgc2: rgb(25, 25, 25);
    --bgc3: rgb(19, 19, 19);
    --bgc4: rgb(12, 12, 12);

    --txtc: rgb(248, 248, 248);
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: var(--bgc4);
    color: var(--txtc);
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    background-color: var(--bgc2);
    height: 70px;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;

    box-shadow: 1px 0px 20px 5px black;
}

header nav {
    display: flex;
    background-color: var(--bgc1);
}

header nav a{
    font-size: 17px;
    border-right: 1px solid var(--bgc0);
    text-decoration: none;
    color: var(--txtc);
    padding: 13px;
}

header nav a:hover {
    box-shadow: inset 0px 0px 10px 1px var(--bgc0);
}


main {
    position: relative;
    z-index: 3;

    display: grid;
    grid-template-rows: 1fr 1fr 2fr;

    background-color: var(--bgc3);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    height: 800px;
    width: auto;

    box-shadow: 1px 0px 20px 5px black;
}

#main_text {
    padding: 4% 20% 2% 20%;
}

.input {
    width: 200px;
    background-color: rgb(214, 214, 214);
}

#butn {
    margin-top: 20%;
    color: red;
    font-size: 15px;
    padding: 5px;

}

button:hover {
    cursor:pointer;
}



footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    background-color: var(--bgc2);
    height: 70px;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
}


@media (max-width: 650px) {
    #main_text {
    padding: 5% 10% 0% 10%;
}
}


@media (max-width: 470px) {
    main {
    margin-left: 0%;
    margin-right: 0%;
}
    header {
    margin-left: 0%;
    margin-right: 0%;
}
    footer {
    margin-left: 0%;
    margin-right: 0%;
}
}

@media (max-width: 400px) {
    body {
        font-size: 14px;
    }

    header nav a {
        font-size: 14px;
    }

    #butn {
        margin-top: 30%;
    }
}