:root {
    --bgc0: rgb(132, 132, 132);
    --bgc1: rgb(37, 37, 37);
    --bgc2: rgb(25, 25, 25);
    --bgc3: rgb(19, 19, 19);
    --bgc4: rgb(12, 12, 12);
    --txtc: white;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: var(--bgc4);
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    background-color: var(--bgc2);
    height: 70px;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;

    box-shadow: 1px 0px 20px 5px black;
}

header nav {
    display: flex;
    background-color: var(--bgc1);
}

header nav a{
    font-size: 17px;
    border-right: 1px solid var(--bgc0);
    text-decoration: none;
    color: var(--txtc);
    padding: 13px;
}

header nav a:hover {
    /* position: relative;
    z-index: 4; */
    box-shadow: inset 0px 0px 10px 1px var(--bgc0);
}

main {
    position: relative;
    z-index: 3;

    background-color: var(--bgc3);
    margin-left: 10%;
    margin-right: 10%;
    height: 800px;
    width: auto;

    box-shadow: 1px 0px 20px 5px black;
}
